<div class="container">
  <div class="card">
      <h3>TODO APP - INSCRIPTION</h3>
      <form action="">
          <input type="text" placeholder="Username" id="name" required>
          <p id="user_error"></p>
          <input type="password" name="pass" id="password" placeholder="Password" required>
          <p id="pass_error"></p>
          <div class="connect">
              <input type="submit" value="Créer un compte" id="send">
              <p>
                <a routerLink="/connexion">J'ai déjà un compte</a></p>
          </div>
      </form>
  </div>
</div>
